public/*
content/2-Proposal/proposal_en.tex
content/2-Proposal/proposal_en.txt
content/2-Proposal/proposal_vi.tex
content/2-Proposal/proposal_vi.txt
content/5-Workshop/workshop_en.tex
content/5-Workshop/workshop_en.txt
content/5-Workshop/workshop_vi.tex
content/5-Workshop/workshop_vi.txt
